@model _4952.Models.FileMetadata
<input type="radio" name="rGroup" id="@Model.fileID" value="@Model.fileID" data-size="@Model.fileSize" data-name="@Model.fileName"/>
<label for="@Model.fileID">
    @Model.fileName
    <br />
    @Model.fileDateCreated.ToString("MM-dd-yyyy")
    <br />
</label>